@import '../partials/variables';

footer {
	#main-footer {
		height: 310px;
		background-image: url('../../public/images/footer-bg.jpg');
		background-size: cover;
		overflow: hidden;

		small {
			color: $grey;
		}

		#lists {
			height: 85%;

			li {
				line-height: 1rem;
			}
		}

		.col-5 {
			img {
				position: relative;
				width: 125%;
				bottom: 20%;
			}
		}
	}

	#last-section {
		background-color: rgb(45, 45, 45);

		#button {
			font-size: 1rem;

			button {
				border: 1.5px solid $brand-primary;
				background-color: rgb(45, 45, 45);
				color: white;
			}
		}

		#social {
			h5 {
				color: $brand-primary;
			}

			img {
				height: 2rem;
			}
		}
	}
}